@using System.Security.Claims;
<div class=" col-lg-12">
    <div class="card">
        <div class="card-body">
          
            <div class="row" id="productAll">
               
                


                
                <!-- end row -->

              
            </div>
            
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function(){
            fillProduct();

        })

        function addBasket(id){
            $.ajax({
                type:"post",
                url:"/ShoppingBasket/ProductAdd/",
                data:{
                    mail: "@User.FindFirstValue(ClaimTypes.Name)",
                    id:id
                },
                success:function(res){
                    if(res.result){
                        toastr.success(res.message);

                    }else{
                        toastr.error(res.message);

                    }
                },
                error:function(res){
                }
            })
        }

        function fillProduct(){

            $.ajax({
                url:"/Product/GetAllCustomer/",
                success:function(res){
                    for(var item of res.data){
                        $("#productAll").append(`
                                
            <div class="col-xl-3 col-sm-6">
                <div class="product-box">
                    <div class="product-img pt-4 px-4">
                        <div class="product-ribbon badge bg-warning">
                            Outlet
                        </div>

               <div class="product-wishlist badge bg-info ">
                                                                     
                    Toplam Stok:${item.stock}<br>
                            Kalan Stok:${item.remainingStock}
                                                                      
                         </div>
                               

                                                        <img src="images/product/${item.picture}" alt=""   class="img-fluid mx-auto d-block">
                    </div>

                    <div class="text-center product-content p-4">

                        <h5 class="mb-1"><a href="#" class="text-reset ">${item.name}</a></h5>
                        <div style="font-size:15px" class="product-ribbon badge bg-danger text">
                                   ${item.description}
                        </div>

                                <h5 class="mt-3 mb-0"><span class="text-muted me-2"><del></del></span><span> ${item.price} </span> TL</h5>

                        <ul class="list-inline mb-0 text-muted product-color">
                                    <li onclick="addBasket(${item.id})" class="list-inline-item btn btn-primary">
                                Sepete Ekle !
                            </li>

                        </ul>

                    </div>
                </div>
            </div>

   
                        
                        `)
                    }
                }

            })
        }
    </script>
}                                  