@using System.Security.Claims;
<div class=" col-lg-12">
    <div class="card">
        <div class="card-body">
          
            <div class="row" id="productAll">
               
                


                
                <!-- end row -->

              
            </div>
            <div class="row mt-4">
                <div class="col-sm-6">
                  
                </div>
                <div class="col-sm-6">
                    <div class="float-sm-end">
                        <ul class="pagination pagination-rounded mb-sm-0" id="pageSlice">
                            
                           
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var searchMarjor;

        $(document).ready(function(){

            pageSliceCount();
            fillProduct(1);
            $("#searchOne").keypress(function () {

                $("#searchClear").empty();
                $("#searchClear").append(`
                                <a href="" onclick="searchProduct()" class="btn btn-success w-xs">Ara</a>
                <a href="" onclick="searchInputClear()" class="btn btn-danger w-xs">Aramayı Temizle</a>
                `);
            })
        })
        function searchInputClear(){
            $("#searchOne").val("");
            searchProduct();
            $("#searchClear").empty();
        }
    
        function searchProduct(){
            event.preventDefault();
            searchMarjor = $("#searchOne").val();
            $("#pageSlice").empty();
            pageSliceCount($("#searchOne").val());
            fillProduct(1, searchMarjor);

        }

        function pageSliceCount(search){
         
            $.ajax({
                type:"get",
                url:"Product/PageSlice",
                data:{
                    search:searchMarjor,
                },
                success:function(res){
                   
                    for (let a = 1; a <= res.pageCount; a++) {
                        
                        $("#pageSlice").append(`
                                    <li class="page-item" id="list-${a}">
                                        <a href="" onclick="pageSelect(${a})" class="page-link">${a}</a>
                                    </li>
                        `);
                        if (a == 1) {
                            $("#list-" + a).addClass("active");

                        }
                    }
                    
                }
            })
        }
        function pageSelect(a){
            event.preventDefault();
            $(".active").removeClass("active");
            $("#list-" + a).addClass("active");


            fillProduct(a);

        }

        function addBasket(id){
            $.ajax({
                type:"post",
                url:"/ShoppingBasket/ProductAdd/",
                data:{
                    mail: "@User.FindFirstValue(ClaimTypes.Name)",
                    id:id
                },
                success:function(res){
                    if(res.result){
                        toastr.success(res.message);

                    }else{
                        toastr.error(res.message);

                    }
                },
                error:function(res){
                }
            })
        }

        function fillProduct(page,search){
         


            $.ajax({
                type:"post",
                url:"/Product/GetAllForCustomer/",
                data:{
                    page:page,
                    search:searchMarjor
                },
                success:function(res){
                    $("#productAll").empty();
                    
                    if(res.data==""){
                        $("#productAll").append(`
                                <div class="col-sm-12">
                                                        <div class="alert alert-border alert-border-warning alert-dismissible fade show mt-4 px-4 mb-0 text-center" role="alert">
                                                            <i class="uil uil-exclamation-triangle d-block display-4 mt-2 mb-3 text-warning"></i>
                                                            <h5 class="text-warning">Uyarı</h5>
                                                            <p>Aradığınız Ürün Bulunmamaktadır.</p>
                                                            

                                                            </button>
                                                        </div>
                                                    </div>
                        `);
                        $("#pageSlice").empty();
                       
                    };

                    for(var item of res.data){
                        $("#productAll").append(`
                                
            <div class="col-xl-3 col-sm-6">
                <div class="product-box">
                    <div class="product-img pt-4 px-4">
                        <div class="product-ribbon badge bg-warning">
                            Outlet
                        </div>

               <div class="product-wishlist badge bg-info ">
                                                                     
                    Toplam Stok:${item.stock}<br>
                            Kalan Stok:${item.remainingStock}
                                                                      
                         </div>
                                       <a href="Product/ProductDetail?productId=${item.id}">
                                                <img src="images/product/${item.productNo}.png" alt=""   class="img-fluid mx-auto d-block">
                                                        
                                                        </a>
                    </div>

                    <div class="text-center product-content p-4">

                                <h5 class="mb-1"><a href="Product/ProductDetail?productId=${item.id}" class="text-reset ">${item.name}</a></h5>
                        <div style="font-size:15px" class="product-ribbon badge bg-danger text">
                                   ${item.description}
                        </div>

                                <h5 class="mt-3 mb-0"><span class="text-muted me-2"><del></del></span><span> ${item.price} </span> TL</h5>

                        <ul class="list-inline mb-0 text-muted product-color">
                                            <li onclick="addBasket(${item.id})" class="list-inline-item btn btn-primary btn-rounded">
                                Sepete Ekle !
                            </li>

                        </ul>

                    </div>
                </div>
            </div>

   
                        
                        `)
                    }
                }
                        
            })
        }
    </script>
}                                  