@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-6">Outlet Ürün Satışı Hakkında</h6>
    </div>
    <div>
    <p>Sevgili Turkuvaz Medya Ailesi, </p>
    <p>Idefix’de satışa sunulan ürünlerimizden kutusu açılmış, hasarsız ya da çok az hasara sahip olanlarını, indirimli outlet satış fiyatlarıyla Turkuvaz Medya Genel Müdürlük çalışanlarımızın beğenisine sunuyoruz.</p>
    <p>Size daha iyi bir alışveriş deneyimi yaşatmak için de SSH Uzmanı olarak görev yapmakta olan Burak Yasin Uyanık tarafından yazılan Web uygulamasını hayata geçirdik.</p>
    <p>Sol taraftaki menüyü kullanarak Outlet Ürünlere,Sepetinize ve Siparişlerinize ulaşabilirsiniz.</p>
    <p>Sepetinize birden fazla ürün ekleyebilirsiniz fakat her bir üründen sepetenize sadece bir adet ekleyebilirsiniz ve siparişinizi oluşturabilirsiniz.</p>
    <p>Aynı üründen birden fazla satın almak istiyorsanız da bir sonraki siparişinizde ürünü tekrardan sepetenize ekleyebilirsiniz.</p>
    <p>Siparişlerim sayfasından oluşturmuş olduğunuz siparişleri görüntüleyebilir ve siparişiniz detayını görebilirsiniz.</p>
    <p>Ürünleri almaya hak kazandığınızda sizlere mail ile bilgilendirme yapacağız.</p>
    <p>İyi Alışverişler</p>
    <p>Idefix Satış Sonrasız Hizmetler Departmanı</p>
</div>

<script>
 
</script>